In [1]:
import pymysql as sql

In [2]:
def db_connect():
    db = sql.connect(host='localhost', port=3306, user='root', password='')
    cur = db.cursor()
    return db, cur

In [4]:
db, cur = db_connect()

In [5]:
db

In [6]:
cur

In [7]:
cur.execute('show databases')

13

In [8]:
cur.fetchall()

(('arya_ds',),
 ('bank_application',),
 ('data',),
 ('datascience_feb',),
 ('grras_official',),
 ('information_schema',),
 ('mysql',),
 ('new_db',),
 ('performance_schema',),
 ('phpmyadmin',),
 ('python8am',),
 ('test',),
 ('world',))

In [9]:
cur.execute('use datascience_feb')

0

In [10]:
cur.execute('show tables')

10

In [11]:
cur.fetchall()

(('address',),
 ('city',),
 ('employee',),
 ('fees',),
 ('filter_student',),
 ('fullstack_trainers',),
 ('jaipur_emp',),
 ('new_student',),
 ('student_1',),
 ('trainers',))

In [13]:
input()

''

In [15]:
db.close()

    None, False, 0, empty objects

In [16]:
db, cur = db_connect()
cur.execute('use datascience_feb')

while input('Enter any key to insert row --->'):
    sid = int(input('Enter your sid: '))
    name = input('Enter your name: ')
    age = int(input('Enter your age: '))
    cmd = f"insert into student_1 values({sid}, '{name}', {age})"
    cur.execute(cmd)
else:
    db.commit()
    db.close()

Enter any key to insert row --->ghfh
Enter your sid: 108
Enter your name: sachin
Enter your age: 27
Enter any key to insert row --->hchg
Enter your sid: 109
Enter your name: ravi
Enter your age: 24
Enter any key to insert row --->

In [17]:
db, cur = db_connect()
cur.execute('use datascience_feb')

while input('Enter any key to insert row --->'):
    sid = int(input('Enter your sid: '))
    name = input('Enter your name: ')
    age = int(input('Enter your age: '))
    cmd = f"insert into student_1 values({sid}, '{name}', {age})"
    cur.execute(cmd)
else:
    db.commit()
    db.close()

Enter any key to insert row --->kjh
Enter your sid: 104
Enter your name: ravi
Enter your age: 25

IntegrityError: (1062, "Duplicate entry '104' for key 'PRIMARY'")

In [18]:
db, cur = db_connect()
cur.execute('use datascience_feb')

while input('Enter any key to insert row --->'):
    sid = int(input('Enter your sid: '))
    cmd = f"select * from student_1 where sid={sid}"
    data = cur.execute(cmd)
    if data:
        print(f"Key {sid} already exists...")
    else:
        name = input('Enter your name: ')
        age = int(input('Enter your age: '))
        cmd = f"insert into student_1 values({sid}, '{name}', {age})"
        cur.execute(cmd)
else:
    db.commit()
    db.close()

Enter any key to insert row --->dfg
Enter your sid: 104
Key 104 already exists...
Enter any key to insert row --->