In [3]:
names = ['ram', 'simran', 'ravi', 'sachin', 'aman', 'vikash']
age = [25, 20, 26, 28, 24]
height = [167, 155, 188, 150, 144]
weight = [55, 29, 44, 35, 39]
salary = [30, 40, 50, 60, 60]

In [4]:
for i in range(len(names)):
    print(names[i], age[i], height[i])

ram 25 167
simran 20 155
ravi 26 188
sachin 28 150
aman 24 144

IndexError: list index out of range

In [ ]:
string = ''

In [5]:
zip([10,20,30], [100,200,300])

In [6]:
v = zip([10,20,30], [100,200,300])

In [7]:
print(v)

<zip object at 0x000002D677B02F80>

In [8]:
for i in v:
    print(i)

(10, 100)
(20, 200)
(30, 300)

In [9]:
names = ['ram', 'simran', 'ravi', 'sachin', 'aman', 'vikash']
age = [25, 20, 26, 28, 24]
height = [167, 155, 188, 150, 144]
weight = [55, 29, 44, 35, 39]
salary = [30, 40, 50, 60, 60]

In [10]:
for i in zip(names, age, height, weight, salary):
    print(i)

('ram', 25, 167, 55, 30)
('simran', 20, 155, 29, 40)
('ravi', 26, 188, 44, 50)
('sachin', 28, 150, 35, 60)
('aman', 24, 144, 39, 60)

In [11]:
string = 'hello we are learning data science'

In [12]:
d = dict()
d

{}

In [13]:
for i in string:
    if i != ' ':
        d[i] = string.count(i)

In [15]:
print(d)

{'h': 1, 'e': 6, 'l': 3, 'o': 1, 'w': 1, 'a': 4, 'r': 2, 'n': 3, 'i': 2, 'g': 1, 'd': 1, 't': 1, 's': 1, 'c': 2}