In [2]:
import sqlite3 as sql

In [3]:
db = sql.connect("student.db")

In [5]:
cur = db.cursor()

In [6]:
cur.execute('create table data(sid int(10) primary key, name varchar(100), course varchar(100))')

In [7]:
cur.execute("insert into data values(1, 'ankit', 'python')")

In [8]:
db.commit()

In [9]:
db.close()

In [10]:
db = sql.connect("student.db")
cur = db.cursor()

In [11]:
cur.execute('select * from data')

In [12]:
cur.fetchall()

[(1, 'ankit', 'python')]